.App {
  text-align: center;
  box-sizing: border-box;
  height: 100vh;
}

.media-board {
  width: 40vw;
  margin: auto;
  margin-bottom: 30px;
  padding: 20px;
  position: relative;
  outline: 1px solid grey;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.media {
  margin: 20px;
}

button {
  margin-left: 10px;
}
